

<!-- fieldset code here -->  <div class="row mb20">
    <!-- fields go here -->
<div class="col-lg-6">
  <div class="form-group">
    <div class="control-wrapper">
      <div class='input'>
        <%= label_tag 'Movie', 'Movie:' %>
        <div class="form-control read-only text-left">
          <%= movie_actor.movie %></div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-6">
  <div class="form-group">
    <div class="control-wrapper">
      <div class='input'>
        <%= label_tag 'Actor', 'Actor:' %>
        <div class="form-control read-only text-left">
          <%= movie_actor.actor %></div>
      </div>
    </div>
  </div>
</div>

  </div>
  <div class="row mb20">
    
<div class="col-lg-6">
  <div class="form-group">
    <div class="control-wrapper">
      <div class='input'>
        <%= label_tag 'Sort Order', 'Sort Order:' %>
        <div class="form-control read-only text-left">
          <%= movie_actor.sort_order %></div>
      </div>
    </div>
  </div>
</div>

  </div>


<!-- action list start -->
<!-- action list end -->
