

<!-- fieldset code here -->  <div class="row mb20">
    <!-- fields go here -->
<div class="col-lg-4">
  <div class="form-group">
    <div class="control-wrapper">
      <div class='input'>
        <%= label_tag 'First Name', 'First Name:' %>
        <div class="form-control read-only text-left">
          <%= user.first_name %></div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-4">
  <div class="form-group">
    <div class="control-wrapper">
      <div class='input'>
        <%= label_tag 'Last Name', 'Last Name:' %>
        <div class="form-control read-only text-left">
          <%= user.last_name %></div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-4">
  <div class="form-group">
    <div class="control-wrapper">
      <div class='input'>
        <%= label_tag 'Gender', 'Gender:' %>
        <div class="form-control read-only text-left">
          <%= user.gender %></div>
      </div>
    </div>
  </div>
</div>

  </div>
  <div class="row mb20">
    
<div class="col-lg-3">
  <div class="form-group">
    <div class="control-wrapper">
      <div class='input'>
        <%= label_tag 'Address Line 1', 'Address Line 1:' %>
        <div class="form-control read-only text-left">
          <%= user.address_line_1 %></div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-3">
  <div class="form-group">
    <div class="control-wrapper">
      <div class='input'>
        <%= label_tag 'Address Line 2', 'Address Line 2:' %>
        <div class="form-control read-only text-left">
          <%= user.address_line_2 %></div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-2">
  <div class="form-group">
    <div class="control-wrapper">
      <div class='input'>
        <%= label_tag 'Suburb', 'Suburb:' %>
        <div class="form-control read-only text-left">
          <%= user.suburb %></div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-2">
  <div class="form-group">
    <div class="control-wrapper">
      <div class='input'>
        <%= label_tag 'State', 'State:' %>
        <div class="form-control read-only text-left">
          <%= user.state %></div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-2">
  <div class="form-group">
    <div class="control-wrapper">
      <div class='input'>
        <%= label_tag 'Postcode', 'Postcode:' %>
        <div class="form-control read-only text-left">
          <%= user.postcode %></div>
      </div>
    </div>
  </div>
</div>

  </div>
  <div class="row mb20">
    
<div class="col-lg-7">
  <div class="form-group">
    <div class="control-wrapper">
      <div class='input'>
        <%= label_tag 'Email', 'Email:' %>
        <div class="form-control read-only text-left">
          <%= user.email %></div>
      </div>
    </div>
  </div>
</div>

  </div>
  <div class="row mb20">
    
<div class="col-lg-6">
  <div class="form-group">
    <div class="control-wrapper">
      <div class='input'>
        <%= label_tag 'Admin Role', 'Admin Role:' %>
        <div class="form-control read-only text-left">
          <%= user.admin_role %></div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-5">
  <div class="form-group">
    <div class="control-wrapper">
      <div class='input'>
        <%= label_tag 'Active', 'Active:' %>
        <div class="form-control read-only text-left">
          <%= user.active %></div>
      </div>
    </div>
  </div>
</div>

  </div>


<!-- action list start -->
<!-- action list end -->
